body,
h1,
h2,
h3,
h4,
h5,
p,
a {
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}

.title {
	font-family: Georgia;
	font-size: 35px;
	font-style: normal;
	font-weight: 400;
	color: #545454;
	line-height: 130%;
	letter-spacing: 0.06em;
}

.text {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 160%;
	color: #4c4c4c;
}

.header {
	width: 100%;
	background: url(./images/start-screen-gradient-background.png);
	background-position: top;
	background-size: cover;
	height: 120px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	.title-subtitle-container {
		width: 186px;
		height: 70px;
		text-align: center;
		padding: 0 0 0 40px;
		.header-title {
			font-family: Georgia, "Times New Roman", Times, serif;
			font-style: normal;
			font-weight: normal;
			font-size: 32px;
			line-height: 110%;
			color: #f1cdb3;
			letter-spacing: 0.06em;
		}
		.header-subtitle {
			margin-top: 10px;
			color: white;
		}
	}
	.nav {
		padding: 0 40px 25px 0;
		width: 443px;
		height: 27px;
		display: flex;
		flex-direction: row;
		.nav-text {
			color: #cdcdcd;
		}
		.nav-links {
			text-decoration: none;
			color: #cdcdcd;
		}
		.nav-links:not(:first-child) {
			margin-left: 35px;
		}
		.nav-links:active {
			color: #fafafa;
			border-bottom: solid 3px #f1cdb3;
		}
		.nav-links:hover {
			color: #fafafa;
		}
	}
}

.hero {
	width: 100%;
	background: url(./images/start-screen-gradient-background.png);
	background-position: center;
	background-size: cover;
	height: 900px;
	display: flex;
	flex-direction: row;
	.hero-left {
		width: 40%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		.hero-container {
			height: 316px;
			width: 460px;
			.hero-title {
				width: 350px;
				color: white;
				font-size: 44px;
				line-height: 130%;
			}
			.hero-text {
				width: 460px;
				margin-top: 40px;
				color: #cdcdcd;
			}
			.hero-link {
				margin-top: 40px;
				font-family: Georgia;
				font-size: 17px;
				font-style: normal;
				font-weight: 400;
				line-height: 22px;
				letter-spacing: 0.06em;
				color: #292929;
				width: 120px;
				height: 25px;
				background-color: #f1cdb3;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 15px 45px;
				border-radius: 100px;
				text-decoration: none;
			}
			.hero-link:hover {
				background-color: #fddcc4;
			}
		}
	}
	.hero-right {
		width: 60%;
		height: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		.hero-image {
			width: 698px;
			height: 728px;
		}
	}
}

.main {
	width: auto;
}

.about-section {
	height: 588px;
	display: flex;
	flex-direction: row;
	background-color: white;
	.about-left {
		width: 40%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		.about-image {
			width: 300px;
			height: 408px;
		}
	}
	.about-right {
		width: 60%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.about-container {
		width: 430px;
		height: 380px;
		display: flex;
		flex-direction: column;
		.about-title {
			width: 370px;
		}
		.about-text {
			margin-top: 25px;
			width: 430px;
		}
	}
}
