* {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

.title {
  font-family: Georgia;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  color: #545454;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.text {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}

.header {
  background: url(./images/start-screen-gradient-background.png);
  background-position: top;
  background-size: cover;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .title-subtitle-container {
  width: 186px;
  height: 70px;
  text-align: center;
  padding: 0 0 0 40px;
}

.header .title-subtitle-container .header-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  color: #f1cdb3;
  letter-spacing: 0.06em;
}

.header .title-subtitle-container .header-subtitle {
  margin-top: 10px;
  color: white;
}

.header .nav {
  padding: 0 40px 25px 0;
  width: 443px;
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .nav .nav-text {
  color: #cdcdcd;
}

.header .nav .nav-links {
  text-decoration: none;
  color: #cdcdcd;
}

.header .nav .nav-links:not(:first-child) {
  margin-left: 35px;
}

.header .nav .nav-links:active {
  color: #fafafa;
  border-bottom: solid 3px #f1cdb3;
}

.header .nav .nav-links:hover {
  color: #fafafa;
}

.link {
  width: 210px;
  height: 52px;
  background-color: #f1cdb3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  text-decoration: none;
}

.link-text {
  padding: 15px 45px;
  font-family: Georgia;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}

.hero {
  margin-top: -2px;
  background: url(./images/start-screen-gradient-background.png);
  background-position: center;
  background-size: cover;
  height: 782px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero .hero-left {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-left .hero-container {
  height: 316px;
  width: 460px;
}

.hero .hero-left .hero-container .hero-title {
  width: 350px;
  color: white;
  font-size: 44px;
  line-height: 130%;
}

.hero .hero-left .hero-container .hero-text {
  width: 460px;
  margin-top: 40px;
  color: #cdcdcd;
}

.hero .hero-left .hero-container .hero-link {
  margin-top: 40px;
}

.hero .hero-left .hero-container .hero-link:hover {
  background-color: #fddcc4;
}

.hero .hero-right {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-right .hero-image {
  width: 698px;
  height: 728px;
}

.main {
  width: auto;
}

.about-section {
  height: 588px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
}

.about-section .about-left {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .about-left .about-image {
  width: 300px;
  height: 408px;
}

.about-section .about-right {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .about-container {
  width: 430px;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-section .about-container .about-title {
  width: 370px;
}

.about-section .about-container .about-text {
  margin-top: 25px;
  width: 430px;
}

.pet-card {
  width: 270px;
  height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  border-radius: 9px;
}

.pet-card .pet-card:hover {
  background-color: white;
}

.pet-card .pet-image {
  width: 270px;
  height: 270px;
}

.pet-card .pet-name {
  margin-top: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.pet-card .pet-link {
  margin: 30px 0;
  width: 195px;
  height: 52px;
  background-color: #fafafa;
  border: 2px solid #f1cdb3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pet-card:not(:first-child) {
  margin-left: 90px;
}

.pets-section {
  background-color: #f6f6f6;
  height: 877px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets-section .pets-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  padding-top: 80px;
}

.pets-section .pets-container {
  margin-top: 60px;
  width: 1100px;
  height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pets-section .pets-link {
  margin: 60px 0 100px 0;
  width: 265px;
  height: 52px;
}

.help-section {
  height: 611px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.help-section .help-title {
  margin-top: 80px;
  width: 310px;
  text-align: center;
}

.help-section .help-container {
  width: 1100px;
  height: 280px;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-bottom: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help-section .help-container .help-card-first {
  width: 82px;
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help-section .help-container .help-card-first .help-card-image-first {
  width: 47.86px;
  height: 60px;
}

.help-section .help-container .help-card-second {
  width: 150px;
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help-section .help-container .help-card-second .help-card-image-second {
  width: 59.95px;
  height: 60px;
}

.help-section .help-container .help-card-third {
  width: 60px;
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help-section .help-container .help-card-third .help-card-image-third {
  width: 60px;
  height: 60px;
}

.help-section .help-container .help-card-fourth {
  width: 153px;
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help-section .help-container .help-card-fourth .help-card-image-fourth {
  width: 60px;
  height: 56.82px;
}

.help-section .help-container .help-card-fifth {
  width: 101px;
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help-section .help-container .help-card-fifth .help-card-image-fifth {
  width: 31.3px;
  height: 60px;
}

.help-section .help-container .help-card-sixth {
  width: 89px;
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help-section .help-container .help-card-sixth .help-card-image-sixth {
  width: 60px;
  height: 54.16px;
}

.help-section .help-container .help-card-seventh {
  width: 101px;
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help-section .help-container .help-card-seventh .help-card-image-seventh {
  width: 60px;
  height: 60px;
}

.help-section .help-container .help-card-eighth {
  width: 165px;
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help-section .help-container .help-card-eighth .help-card-image-eighth {
  width: 60px;
  height: 42.53px;
}

.help-section .help-container .help-card-ninth {
  width: 143px;
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 120px;
}

.help-section .help-container .help-card-ninth .help-card-image-ninth {
  width: 59.29px;
  height: 60px;
}

.help-section .help-container .help-card:not(:first-child) {
  margin-left: 120px;
}

.help-section .help-container .help-card-text {
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  color: #545454;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.donation-section {
  height: 464px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f6f6f6;
}

.donation-section .donation-left {
  width: 55%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.donation-section .donation-left .donation-image {
  width: 505px;
  height: 261px;
}

.donation-section .donation-right {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation-section .donation-right .donation-container {
  padding-left: 30px;
  width: 380px;
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.donation-section .donation-right .donation-container .donation-title {
  width: 300px;
}

.donation-section .donation-right .donation-container .donation-text-big {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  line-height: 110%;
  margin-top: 20px;
}

.donation-section .donation-right .donation-container .donation-credit {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  width: 349px;
  height: 43px;
  background: #f1cdb3;
  border-radius: 9px;
}

.donation-section .donation-right .donation-container .donation-credit .donation-number {
  font-family: Georgia;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  line-height: 115%;
  color: #545454;
}

.donation-section .donation-right .donation-container .donation-text-small {
  margin-top: 20px;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

.footer {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: url(./images/footer-gradient-background.png);
  background-size: cover;
}

.footer .footer-left {
  width: 68%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-left .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-left .footer-container .footer-title {
  color: white;
}

.footer .footer-left .footer-container .footer-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-left .footer-container .footer-info-container .footer-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin-left: 20px;
}

.footer .footer-left .footer-left-container {
  width: 280px;
  height: 234px;
}

.footer .footer-left .footer-left-container .footer-mail-container {
  margin-top: 40px;
  width: 251px;
  height: 32px;
}

.footer .footer-left .footer-left-container .footer-mail-container .footer-mail-image {
  width: 40px;
  height: 26px;
}

.footer .footer-left .footer-left-container .footer-phone-container {
  margin-top: 40px;
  width: 240px;
  height: 32px;
}

.footer .footer-left .footer-left-container .footer-phone-container .footer-phone-image {
  width: 40px;
  height: 32px;
}

.footer .footer-left .footer-right-container {
  width: 302px;
  height: 234px;
}

.footer .footer-left .footer-right-container .footer-gps-first-container {
  margin-top: 34px;
  width: 300px;
  height: 46px;
}

.footer .footer-left .footer-right-container .footer-gps-first-container .footer-gps-image {
  width: 22px;
  height: 32px;
}

.footer .footer-left .footer-right-container .footer-gps-second-container {
  margin-top: 32px;
  width: 302px;
  height: 32px;
}

.footer .footer-right {
  width: 32%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer .footer-right .footer-image {
  width: 300px;
  height: 310px;
}

/*--------------------@Media-----------------------*/
@media (max-width: 1200px) {
  .hero {
    height: 600px;
  }
  .hero .hero-left {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .hero-left .hero-container {
    width: 410px;
    height: 318px;
  }
  .hero .hero-left .hero-container .hero-title {
    width: 410px;
  }
  .hero .hero-left .hero-container .hero-text {
    width: 410px;
  }
  .hero .hero-right {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .hero .hero-right .hero-image {
    width: 428px;
    height: 488px;
  }
  .pets-section .pets-container {
    width: 100%;
  }
  .pet-card:not(:first-child) {
    margin-left: 20px;
  }
  .help-section {
    height: auto;
  }
  .help-section .help-container {
    width: 100%;
  }
  .help-section .help-container .help-card:not(:first-child) {
    margin-left: 58px;
  }
  .help-section .help-container .help-card {
    margin-top: 20px;
  }
  .help-section .help-container .help-card-ninth {
    margin-right: 58px;
  }
  .donation-section .donation-left {
    width: 50%;
  }
  .donation-section .donation-left .donation-image {
    width: 405px;
    height: 210px;
  }
  .donation-section .donation-right {
    width: 50%;
  }
  .footer {
    height: 540px;
  }
  .footer .footer-left {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .footer .footer-left .footer-left-container {
    padding: 5px 0 60px 0;
  }
  .footer .footer-right {
    width: 50%;
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */